$color1: rgb(0, 196, 255);
$color2: #ff5da8;
$color3: rgb(135, 0, 255);
$burgerPad: 20px;
$lexend: 'lexend mega', sans-serif;

html,
body {
  //position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: black;
  font-size: 16px;
}

.no-focus-outline a:focus,
.no-focus-outline button:focus,
.no-focus-outline i:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

main {
  position: relative;
  height: 100%;
  width: 100%;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 95px;
  color: $color1;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 2;

  .logo {
    position: relative;
    bottom: 8px;
  }

  .top {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'montserrat', sans-serif;
    border-bottom: 1px solid $color2;

    .leftHalf {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      position: relative;
      left: 10pt;
    }

    .rightHalf {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      position: relative;
      right: 10pt;
    }
  }

  .bottom {
    position: relative;
    top: 10px;
    width: 220px;
    text-align: center;
    font-family: 'open sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
  }

  .l1,
  .l4 {
    padding-bottom: 4px;
    font-size: 1.56rem;
    font-weight: 600;
  }

  .l2,
  .l3 {
    padding-bottom: 0;
    font-size: 3.125rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  clip-path: circle(25px at calc(100vw - 45px) 40px);
  transition: all 0.5s ease-in-out;
  z-index: 3;

  & a {
    text-decoration: none;
  }

  &.toggleNav,
  &:target {
    clip-path: circle(75%);
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 1;
    z-index: 10;
  }
}
.navList {
  position: relative;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  & li {
    width: 100%;
    padding: 20px 0px 35px 35px;
    font-family: 'lexend mega', sans-serif;
    font-size: 2.125rem;

    &:first-child a {
      color: $color1;
    }

    & .openContactNav {
      color: $color2;
    }

    & .openContactNav:hover {
      cursor: pointer;
    }
  }

  & a,
  & a:visited {
    color: $color2;
    text-decoration: none;
  }
}

.burger {
  position: fixed;
  top: 0px;
  padding-top: $burgerPad;
  right: 20px;
  //left: 40px;
  font-size: 2.125rem;
  font-weight: 100;
  opacity: 1;
  z-index: 21;
  transition: all 0.5s;

  &.hide {
    color: rgba(255, 255, 255, 0);
    opacity: 0;
  }

  & a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
  }

  & a:hover,
  & a:focus,
  &:hover,
  &:focus {
    outline: none;
    color: rgba(255, 255, 255, 1);
  }
}

.closeBurger {
  position: fixed;
  top: 0px;
  padding-top: $burgerPad;
  right: 20px;
  //left: 40px;
  font-size: 2.125rem;
  font-weight: 100;
  z-index: 1;
  transition: all 1s;

  &.showClose {
    color: rgba(255, 255, 255, 0.6);
    opacity: 1;
  }

  & a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
  }

  & a:hover,
  & a:focus,
  &:hover,
  &:focus {
    outline: none;
    color: rgba(255, 255, 255, 1);
  }
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
  font-family: 'lexend mega', sans-serif;
  color: black;

  h3 {
    display: flex;
    flex-direction: column;
    font-size: 2.25rem;
    text-align: center;
    font-weight: 600;

    & span {
      display: inline block;
      padding-top: 15px;
      font-size: 1.1rem;
      font-weight: 500;
      text-align: center;
      letter-spacing: -1px;
    }
  }
}

.contactNav {
  position: fixed;
  left: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;

  .contactButtons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: $color1;
    opacity: 1;
    transition: opacity 0.5s;

    & li {
      font-size: 1.75rem;
    }

    & a {
      color: $color1;
      &:visited {
        color: $color1;
      }
      &:hover {
        color: $color3;
      }
      &:focus {
        outline: none;
        color: $color3;
      }
    }

    & button {
      border: none;
      background: none;

      & i {
        font-size: 1.75rem;
        color: $color1;
      }
    }

    & .open:hover,
    & .open:focus {
      outline: none;
      color: $color3;
    }

    &.fade {
      opacity: 0;
    }
  }
}

.contactInfo {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  bottom: -240px;
  height: 240px;
  width: 100vw;
  z-index: 10;
  transition: transform 1s;

  .contactContainer {
    width: 100%;
    text-align: center;
    font-family: 'open sans', sans-serif;
    font-size: 1.125rem;
    background-color: $color1;
    color: black;
  }

  p {
    padding-top: 25px;
  }

  &.show,
  &:target {
    transform: translateY(-240px);
  }

  .close {
    font-size: 3.375rem;
    color: rgba(255, 255, 255, 0.6);

    &:hover,
    &:focus {
      outline: none;
      color: white;
    }
  }
}

.sectionTitle {
  position: absolute;
  bottom: -30px;
  left: 0;
  height: 140px;
  width: 340px;
  font-size: 2.2rem;
  line-height: 150px;
  background-color: white;
  clip-path: polygon(0 20%, 0 90%, 100% 100%);
  z-index: 1;
  font-family: 'lexend mega', sans-serif;
  color: black;

  & p {
    position: relative;
    left: 40px;
    top: 10px;
  }
}

.second {
  position: absolute;
  bottom: -100px;
  left: 40px;
  height: 200px;
  width: 400px;
  font-size: 2.2rem;
  line-height: 150px;
  z-index: 0;
  font-family: $lexend;
  color: white;
}

.project {
  position: relative;
  display: flex;
  align-items: center;
  width: 100vw;
  margin-top: 150px;
  margin-bottom: 150px;
  perspective: 700px;
}

.projectContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 480px;
  width: 77%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.projectContainerOverlay {
  position: absolute;
  top: -1px;
  left: -1px;
  height: 101%;
  width: 101%;
  padding-top: 25px;
  color: white;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.95);
  transition: opacity 1s ease-in-out;

  &.toggleInfo {
    opacity: 1;
  }

  & p {
    margin: 25px 10px;
    font-size: 0.9rem;
    line-height: 1.2rem;
  }

  & .closeInfoButton {
    position: absolute;
    top: 0;
    right: 8px;
    height: 30px;
    width: 30px;
    font-size: 1.6rem;
    color: white;
    background: none;
    border: none;
    cursor: auto;
  }
}

.container1 {
  background-image: linear-gradient(30deg, rgba($color1, 0.2) 10%, rgba($color2, 0.2));
}

.projectTitle {
  margin-top: 20px;
  color: black;
}

.primaryText {
  font-family: $lexend;
  letter-spacing: -2px;
  font-size: 1.4rem;
  font-weight: 600;
}

.secondaryText {
  margin-top: 5px;
  padding-top: 5px;
  padding-left: 3px;
  font-family: 'roboto slab', serif;
  font-size: 1rem;
  border-top: 1px solid black;
}

.techTitle {
  display: none;
}

.technologies {
  display: flex;
  justify-content: space-around;
  width: 80%;
  color: $color2;

  & li {
    margin-left: 5px;
    margin-right: 5px;
  }

  & li img {
    width: 50px;
    height: 50px;
  }
}

.screenShot {
  margin-bottom: 75px;
  height: 240px;
  width: 240px;

  & img {
    height: 100%;
    width: 100%;
  }
}

.projectNav {
  width: 90%;
  margin: 0 auto;
  position: absolute;
  bottom: 0px;
  border: 0;
}

.projectButtons {
  display: flex;
  justify-content: space-between;
  list-style: none;

  & a:hover,
  & a:visited {
    color: $color2;
  }

  & button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
  }
}

.projectButton {
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  font-size: 1.7rem;
  color: $color2;

  & button {
    background: none;
    border: none;
    font-size: 1.7rem;
    color: $color2;
  }
}

.titleContainer {
  position: relative;
  width: 100vw;
  height: 75px;
}

/*ABOUT ME*/

.aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 65px;
  margin-bottom: 100px;
  height: auto;
  width: 100vw;
  font-family: 'Roboto Slab', serif;
}

.quote {
  line-height: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.3rem;
  color: white;
  background-color: black;
  width: 100%;

  & p {
    padding: 0 50px 0 50px;
  }
}

.me {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  background-color: white;
  height: 850px;
  width: 100%;
  clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
}

.aboutText {
  grid-area: 'aboutText';
  width: 49%;
  padding: 0 20px 0 20px;
  font-size: 0.85rem;
  line-height: 1.3rem;
  color: black;

  & p:first-child {
    margin-top: -10px;
    margin-bottom: 0.85rem;
  }

  & p {
    margin-top: 0.85rem;
    margin-bottom: 0.85rem;
  }

  & span {
    font-size: 1.6rem;
    line-height: 3.5rem;
  }
}

.aboutImg {
  width: 35%;
  height: 70%;
  max-height: 500px;
  margin-right: 10px;
  margin-bottom: 40px;
  background-image: url(./images/me.jpg);
  background-repeat: no-repeat;
  background-size: 275% auto;
  background-size: cover;
  background-position: 33% 30px;
}

////////////////////////
// mobile devices     //
////////////////////////
@media (min-width: 375px) {
  .sectionTitle {
    font-size: 2.5rem;
  }

  .second {
    font-size: 2.5rem;
  }

  .me {
    height: 750px;
  }

  .aboutText {
    & span {
      font-size: 2rem;
    }
  }

  .projectTextContainer p {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

////////////////////////
//Tablet width devices//
////////////////////////
@media (min-width: 600px) {
  .hero h4 {
    letter-spacing: 0px;
  }

  .contactInfo {
    .contactContainer {
      width: 70vw;
      text-align: center;
      font-family: 'Noto Sans', sans-serif;
      font-size: 18px;
      background-color: $color1;
      color: black;
      border-radius: 25px 25px 0 0;
    }

    .close {
      position: relative;
      font-size: 54px;
      color: rgba(255, 255, 255, 0.8);

      &:hover,
      &:focus {
        outline: none;
        color: white;
      }
    }
  }

  .me {
    height: 550px;
  }
}

//////////////////////////
// Large screen devices //
//////////////////////////

@media (min-width: 1024px) {
  body {
    overflow-y: scroll;
    overflow: initial;
  }

  header {
    justify-content: center;
    align-items: flex-start;
    height: 100px;
  }

  .logo {
    margin-left: 33px;
  }

  .nav {
    clip-path: none;
    width: 50%;
    height: 100px;
    margin-right: 20px;
    opacity: 1;
  }

  .navList {
    position: static;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

    & li {
      font-size: 1.2rem;
      width: auto;
    }
  }

  .burger {
    display: none;
  }

  .closeBurger {
    display: none;
  }

  .contactNav {
    background-color: rgba(0, 0, 0, 0);
    z-index: 11;
    .contactButtons {
      position: fixed;
      right: 0;
      bottom: 0;
      height: 200px;
      width: 60px;
      text-align: center;
      padding: 5px;
      flex-direction: column;
      //background-color: rgba(0, 0, 0, 0.8);

      & a {
        font-size: 2.1rem;
      }
    }
  }

  .hero {
    margin-top: 15px;
  }

  .project {
    margin-top: 200px;
    margin-bottom: 200px;
    width: 100vw;
  }

  .projectTextContainer {
    margin-top: -30px;
    margin-left: 125px;
    width: 550px;

    & p {
      font-size: 1.2rem;
      line-height: 1.4rem;
    }
  }

  .projectContainer {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(12, 1fr);
    //grid-template-areas: 'left' 'left' 'left';
    grid-gap: 10px;
    height: 327px;
    width: 850px;
  }

  .projectTitle {
    grid-column: 16/24;
    grid-row: 2/5;
    align-self: end;
    justify-self: start;
    font-size: 1.6rem;
  }

  .techTitle {
    display: inline;
    grid-column: 16/24;
    grid-row: 6/7;
    align-self: end;
    justify-self: start;
    font-family: $lexend;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: -2px;
    border-bottom: 1px solid black;
  }

  .technologies {
    grid-column: 16/24;
    grid-row: 7/9;
    align-self: start;
    justify-self: start;
  }

  .screenShot {
    grid-row: 3/13;
    grid-column: 4/14;
    align-self: center;
    justify-self: center;
    height: auto;
    width: 300px;
    margin-top: 20px;
  }

  .projectNav {
    display: grid;
    place-items: center center;
    height: 100%;
    width: 63px;
  }

  .projectButtons {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;

    & a {
      height: 107px;
      width: 98%;
      text-decoration: none;
      margin-top: 1px;
      margin-bottom: 1px;
    }

    & button {
      height: 107px;
      width: 98%;
      padding: 0;
      margin-top: 1px;
      margin-bottom: 1px;
      background-color: rgba(0, 0, 0, 0);
      border: none;
    }
  }

  .projectButton {
    display: grid;
    place-items: center center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 0 15px 15px 0;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.35);

    &:hover {
      background-color: black;
    }

    & i {
      align-self: center;
      font-size: 2.2rem;
      color: $color2;
    }
  }

  .quote {
    width: auto;
  }

  .me {
    justify-content: space-evenly;
    height: 750px;
    margin-bottom: 100px;
  }

  .aboutText {
    width: 40%;
    font-size: 1.2rem;
    line-height: 2rem;

    & span {
      width: 100%;
      font-size: 3.5rem;
    }
  }

  .aboutImg {
    width: 25%;
  }
}

//////////////////////////
// XL screen devices    //
//////////////////////////

@media (min-width: 1600px) {
  body {
    font-size: 100%;
  }
}
